//
// @file /sass/components/_site-header.scss
// @file /js/site-header.js
//

//
// Base
//

.site__header {
	// position
	z-index: 1;	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	// JS support
	transform-origin: top;	
	// layout
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	grid-column-gap: 0.5rem;
	align-items: center;
	padding: 4px 0.5rem;	

	.branding {justify-self: start; }
	.nav-follow {justify-self: center;}
	.nav-mobile {justify-self: end;}

} //


//
// Styles
//

 .site__header {
 	@include bg-linear-h($color__alt, 1, $color__alt-a, 1);
 }

 .site__header a {
 	text-decoration: none;
	color: $color__white;
	&:hover,
	&:active,
	&:focus {
		color: $color__black;
	} 
}

