//
// @file /sass/components/_site-header.scss
// @file /js/site-header.js
//

//
// Base
//

.site__header {
	// position
	z-index: 1;	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	// layout
	display: grid;
	grid-template-areas: 'head-brand head-foll head-nav';
	padding: 4px 0.5rem;	
	// JS support
	transform-origin: top;

} //

.site__header .branding {grid-area: head-brand; justify-self: start; }
.site__header .follow   {grid-area: head-foll; justify-self: center; }
.site__header .main-nav {grid-area: head-nav; justify-self: end; }


//
// Styles
//

 .site__header,
 .main-nav__nav {
 	@include bg-linear-h($color__alt, 1, $color__alt-a, 1);
 }

 .site__header a {
 	text-decoration: none;
	color: $color__white;
	&:hover,
	&:active,
	&:focus {
		color: $color__black;
	} 
}

