.is-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }
  .screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

template {
  display: none; }

[hidden] {
  display: none; }

/** 
 * Aria Controls 
 * ======================================== */
[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed; }

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }

/** 
 * Touch Action
 * ======================================== */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

html {
  cursor: default;
  box-sizing: border-box;
  font-size: 20px;
  -moz-tab-size: 4;
  tab-size: 4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word; }

*,
*::before,
*::after {
  box-sizing: inherit;
  background-repeat: no-repeat; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

:root {
  -moz-tab-size: 4;
  tab-size: 4; }

:focus {
  outline: 4px dashed #2979FF; }

body {
  margin: 0;
  padding: 0;
  font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1rem;
  line-height: 1.602; }

code,
kbd,
samp,
pre {
  font-family: "Menolo", "Consolas", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  background: #f8f8ff;
  color: #800;
  font-size: 0.9em;
  font-weight: normal;
  padding: 0.1em 0.2em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.226;
  margin-bottom: 0.5rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #212121; }

h1 {
  font-size: 28px;
  font-size: 1.42rem;
  margin-top: 2rem; }

h2 {
  font-size: 25px;
  font-size: 1.27rem;
  margin-top: 2rem; }

h3 {
  font-size: 20px;
  font-size: 1rem;
  margin-top: 2rem; }

h4 {
  font-size: 18px;
  font-size: 0.89rem;
  margin-top: 2rem; }

a {
  color: #2979FF;
  text-decoration: none;
  border: 0;
  outline: 0;
  background: 0; }
  a:hover, a:active, a:focus {
    color: #6200EA; }

ul, ol {
  margin: 0 0 1.602em 0;
  padding: 0 2em;
  line-height: 1.424; }
  ul ul, ul ol, ol ul, ol ol {
    margin: 0; }

li {
  margin-bottom: 0.889em; }

p {
  line-height: 1.602;
  margin: 0 0 1.424em 0; }

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: italic;
  font-weight: 700; }

hr {
  height: 0;
  overflow: visible; }

i {
  font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: italic;
  font-weight: 400; }

small {
  font-size: 18px;
  font-size: 0.9rem; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/**
 * Icons - Base
 * ================================================== */
[class*="__icon"],
[class*="icon-"] {
  border-radius: 100%;
  line-height: 1.3em; }
  [class*="__icon"]::before,
  [class*="icon-"]::before {
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.3em;
    width: 1.3em;
    height: 1.3em;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-image: none; }

/**
 * Icons - Font Awesome 5 Free 
 * ================================================== */
.icon-blank::before {
  content: "\f024";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: transparent !important;
  background-color: transparent !important;
  border: none !important; }

.icon-bars::before {
  content: "\f0c9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-crow::before {
  content: "\f520";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-share::before {
  content: "\f064";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-share-alt::before {
  content: "\f1e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-twitter::before {
  content: "\f099";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400; }

.icon-fb::before {
  content: "\f39e";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400; }

.icon-pinterest::before {
  content: "\f231";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400; }

.icon-instagram::before {
  content: "\f16d";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400; }

.icon-linkedin::before {
  content: "\f0e1";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400; }

.icon-home::before {
  content: "\f015";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-amazon::before {
  content: "\f270";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400; }

.icon-etsy::before {
  content: "\f2d7";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400; }

.icon-fa::before {
  content: "\f425";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400; }

.icon-html5::before {
  content: "\f13b";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400; }

.icon-js::before {
  content: "\f3b8";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400; }

.icon-php::before {
  content: "\f457";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400; }

.icon-sass::before {
  content: "\f41e";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400; }

.icon-wordpress::before {
  content: "\f411";
  font-family: "Font Awesome 5 Brands";
  font-weight: 400; }

.icon-angle-up::before {
  content: "\f106";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-angle-right::before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-angle-down::before {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-angle-left::before {
  content: "\f104";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-plus::before {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-minus::before {
  content: "\f068";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-times::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-categories::before {
  content: "\f009";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-hashtag::before {
  content: "\f292";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-tag::before {
  content: "\f02b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-tags::before {
  content: "\f02c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-heart::before {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: normal; }

.icon-star::before {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: normal; }

.icon-edit::before {
  content: "\f044";
  font-family: "Font Awesome 5 Free";
  font-weight: normal; }

.icon-pencil::before {
  content: "\f303";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-link::before {
  content: "\f0c1";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-link-external::before {
  content: "\f35d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-date::before {
  content: "\f133";
  font-family: "Font Awesome 5 Free";
  font-weight: normal; }

.icon-user::before {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  font-weight: normal; }

.icon-map-marker::before {
  content: "\f3c5";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-at::before {
  content: "\f1fa";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-mobile::before {
  content: "\f3cd";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-usd::before {
  content: "\f155";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-cart::before {
  content: "\f07a";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-home::before {
  content: "\f015";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-vaginal-solid::before {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-vaginal::before {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: normal; }

.icon-oral::before {
  content: "\f589";
  font-family: "Font Awesome 5 Free";
  font-weight: normal; }

.icon-anal::before {
  content: "\f069";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-daily::before {
  content: "\f043";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-female-hand::before {
  content: "\f259";
  font-family: "Font Awesome 5 Free";
  font-weight: normal; }

.icon-male-hand::before {
  content: "\f255";
  font-family: "Font Awesome 5 Free";
  font-weight: normal; }

.icon-shower::before {
  content: "\f2cd";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-ttc::before {
  content: "\f77d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.icon-toys::before {
  content: "\f135";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

nav[data-to-top-pin] {
  z-index: 2;
  position: fixed;
  display: flex;
  bottom: 0.493rem;
  right: 0.493rem;
  transform-origin: center;
  margin: 0;
  padding: 0; }
  nav[data-to-top-pin] a {
    padding: 0.308rem;
    text-decoration: none;
    text-align: center;
    border-radius: 100%; }
  nav[data-to-top-pin] span {
    display: block;
    width: 1.424rem;
    height: 1.424rem;
    background: no-repeat center center url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23FFFFFF' d='M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z'%3E%3C/path%3E%3C/svg%3E"); }

nav[data-to-top-pin] a {
  background: rgba(33, 33, 33, 0.4); }
  nav[data-to-top-pin] a:hover, nav[data-to-top-pin] a:active, nav[data-to-top-pin] a:focus {
    background: rgba(33, 33, 33, 0.8); }

.site__header {
  display: grid;
  grid-column-gap: 0.5rem;
  align-items: center; }
  .site__header .branding {
    grid-area: head-branding; }
  .site__header .nav-follow {
    grid-area: head-follow; }
  .site__header .nav-mobile {
    grid-area: head-mobile; }

body[data-nav-mobile="false"] .site__header {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'head-branding head-follow' 'head-mobile head-mobile'; }
  body[data-nav-mobile="false"] .site__header .branding {
    justify-self: start;
    padding-left: 0.5rem; }
  body[data-nav-mobile="false"] .site__header .nav-follow {
    justify-self: end;
    padding-right: 0.5rem; }
  body[data-nav-mobile="false"] .site__header .nav-mobile {
    justify-self: center; }

body[data-nav-mobile="true"] .site__header {
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  grid-template-areas: 'head-branding head-follow head-mobile'; }
  body[data-nav-mobile="true"] .site__header .branding {
    justify-self: start;
    padding-left: 0.5rem; }
  body[data-nav-mobile="true"] .site__header .nav-follow {
    justify-self: center; }
  body[data-nav-mobile="true"] .site__header .nav-mobile {
    justify-self: end;
    padding-right: 0.5rem; }

.site__header[data-header-sticky='true'] {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform-origin: top; }

.site__header {
  color: #fff;
  background: #ffab00;
  background: -moz-linear-gradient(left, #ffab00 0%, #ff6e40 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ffab00), color-stop(100%, #ff6e40));
  background: -webkit-linear-gradient(left, #ffab00 0%, #ff6e40 100%);
  background: -o-linear-gradient(left, #ffab00 0%, #ff6e40 100%);
  background: -ms-linear-gradient(left, #ffab00 0%, #ff6e40 100%);
  background: linear-gradient(to right, #ffab00 0%, #ff6e40 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#hex-left', endColorstr='$hex-right', GradientType=1 ); }

.site__header a,
.site__header button {
  text-decoration: none;
  color: #fff; }
  .site__header a:hover, .site__header a:active, .site__header a:focus,
  .site__header button:hover,
  .site__header button:active,
  .site__header button:focus {
    color: #212121; }

/**
 * branding - Base
 * ======================================== */
.branding {
  line-height: 1.266; }
  .branding__icon::before {
    content: "\f520";
    font-family: "Font Awesome 5 Free";
    font-weight: 900; }

/**
 * branding--full - Base
 * ======================================== */
.branding--full {
  display: grid;
  justify-content: start;
  grid-template-areas: "logo name" "logo slogan"; }
  .branding--full .branding__name {
    grid-area: name;
    align-self: end; }
  .branding--full .branding__slogan {
    grid-area: slogan;
    align-self: start; }
  .branding--full .branding__logo {
    grid-area: logo;
    align-self: center;
    font-size: 51px;
    font-size: 2.57rem; }

/**
 * branding--compact - Base
 * ======================================== */
.branding--compact {
  display: flex;
  align-items: center; }
  .branding--compact .branding__logo {
    order: 1;
    font-size: 28px;
    font-size: 1.42rem; }
  .branding--compact .branding__name {
    order: 2; }

/**
 * branding--mobile - Base
 * ======================================== */
.branding--mobile .branding__name,
.branding--mobile .branding__slogan {
  display: none; }
.branding--mobile .branding__logo {
  font-size: 32px;
  font-size: 1.6rem; }

/**
* branding - Styles
* ======================================== */
.branding__name {
  font-family: "Georgia", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 23px;
  font-size: 1.13rem; }
.branding__slogan {
  font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  font-size: 0.79rem; }

.banner {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; }
  .banner--demo1 {
    background-image: url(./images/FernSorus.jpg);
    background-color: red; }
  .banner--demo2 {
    background-image: url(./images/MJBoyle_polytrochus_larva.jpg);
    background-color: red; }
  .banner--demo3 {
    background-image: url(./images/Metapocyrtus-subquadrulfier.jpg);
    background-color: greenyellow; }

.banner {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh; }
  .banner__content {
    grid-column: 2/3;
    grid-row: 2/3;
    max-width: 810px; }

.banner__content {
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem; }
.banner__title {
  color: #ffffff; }
.banner__blurb {
  color: #ffffff; }

ul[role="menubar"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none; }
  ul[role="menubar"] > li {
    position: relative; }
  ul[role="menubar"] li {
    list-style: none;
    margin: 0;
    padding: 0; }
  ul[role="menubar"] a {
    display: flex;
    align-items: center;
    text-decoration: none; }

ul[role="menubar"] ul[role="menu"] {
  display: none;
  position: absolute;
  top: -2px;
  left: 0;
  margin: 0;
  padding: 0; }

ul[role="menubar"] ul[role="menu"] li a {
  min-width: 12em; }

ul[role="menubar"] [role="separator"] {
  background-image: url("https://www.w3.org/TR/wai-aria-practices/examples/menubar/menubar-1/images/separator.png");
  background-position: center;
  background-repeat: repeat-x; }

ul[role="menubar"] > li > a::after {
  content: '';
  height: 1em;
  width: 1em;
  padding-left: 2em;
  background: no-repeat center center url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23FFFFFF' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'%3E%3C/path%3E%3C/svg%3E"); }

ul[role="menubar"] > li > a:hover::after {
  background: no-repeat center center url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%2376FF03' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'%3E%3C/path%3E%3C/svg%3E"); }

ul[role="menubar"] ul[role="menu"] a[aria-haspopup="true"]::after {
  content: '';
  height: 1em;
  width: 1em;
  margin-left: auto;
  padding-right: 2em;
  background: no-repeat center center url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='%23FFFFFF' d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z'%3E%3C/path%3E%3C/svg%3E"); }

ul[role="menubar"] ul[role="menu"] a[aria-haspopup="true"]:hover::after {
  background: no-repeat center center url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='%2376FF03' d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z'%3E%3C/path%3E%3C/svg%3E"); }

ul[role="menubar"],
ul[role="menubar"] ul[role="menu"] {
  font-size: 20px;
  font-size: 1rem;
  background-color: #424242; }

ul[role="menubar"] a[role="menuitem"],
ul[role="menubar"] [role="separator"] {
  color: #FFFFFF;
  padding: 0.346em 0.602em; }

ul[role="menubar"] [role="menuitem"]:focus,
ul[role="menubar"] [role="menuitem"]:hover,
ul[role="menubar"] [role="separator"]:focus,
ul[role="menubar"] [role="separator"]:hover {
  background-color: #212121;
  color: #76FF03; }

button[data-nav-mobile='false'] {
  display: none; }

button[data-nav-mobile='true'] {
  display: block;
  width: 2.565rem;
  height: 2.565rem;
  padding: 0.493rem;
  border: none;
  background-color: transparent; }

ul[data-nav-mobile] {
  margin: 0;
  list-style: none; }
  ul[data-nav-mobile] li {
    margin: 0;
    padding: 0; }
  ul[data-nav-mobile] a {
    text-decoration: none; }

ul[data-nav-mobile='false'] {
  display: flex;
  flex-flow: row wrap;
  padding: 0.215rem 0;
  font-size: 0.79rem; }
  ul[data-nav-mobile='false'] a {
    display: inline-block;
    padding: 0.346em 1em; }

ul[data-nav-mobile="true"] {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  transform-origin: top;
  padding: 0 0 1rem 0;
  font-size: 1rem; }
  ul[data-nav-mobile="true"] a {
    display: block;
    max-width: 300px;
    margin-left: auto;
    padding: 0.35em; }

ul[data-nav-mobile][aria-hidden="false"] {
  height: auto;
  visibility: visible; }

ul[data-nav-mobile][aria-hidden="true"] {
  height: 0px;
  visibility: hidden; }

ul[data-nav-mobile] {
  background: #ff6e40;
  background: -moz-linear-gradient(left, #ff6e40 0%, #ffab00 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ff6e40), color-stop(100%, #ffab00));
  background: -webkit-linear-gradient(left, #ff6e40 0%, #ffab00 100%);
  background: -o-linear-gradient(left, #ff6e40 0%, #ffab00 100%);
  background: -ms-linear-gradient(left, #ff6e40 0%, #ffab00 100%);
  background: linear-gradient(to right, #ff6e40 0%, #ffab00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#hex-left', endColorstr='$hex-right', GradientType=1 ); }

ul[data-nav-mobile='true'] {
  background: #ffab00;
  background: -moz-linear-gradient(left, #ffab00 0%, #ff6e40 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ffab00), color-stop(100%, #ff6e40));
  background: -webkit-linear-gradient(left, #ffab00 0%, #ff6e40 100%);
  background: -o-linear-gradient(left, #ffab00 0%, #ff6e40 100%);
  background: -ms-linear-gradient(left, #ffab00 0%, #ff6e40 100%);
  background: linear-gradient(to right, #ffab00 0%, #ff6e40 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#hex-left', endColorstr='$hex-right', GradientType=1 ); }

.nav-follow ul[role="menu"] {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-size: 1rem;
  text-align: center; }
.nav-follow--horizontal ul[role="menu"] {
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center; }
.nav-follow--vertical ul[role="menu"] {
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }
.nav-follow ul[role="menu"] li {
  margin: 0;
  padding: 0; }
.nav-follow ul[role="menu"] a[role="menuitem"] {
  text-decoration: none;
  padding: 0.5em; }

.accordion[data-accordion="true"] {
  margin: 1rem auto; }
  .accordion[data-accordion="true"] .accordion__header {
    margin: 4px 0 0 0;
    padding: 0; }

.accordion__btn {
  display: flex;
  width: 100%;
  text-align: left;
  font-size: 23px;
  font-size: 1.13rem;
  line-height: 1.424;
  padding: 0.25em 0.3em 0.4em 0.3em; }
  .accordion__btn:before {
    content: '';
    width: 1em;
    height: 1em;
    margin: 0.25em 0.25em 0 0; }
  .accordion__btn[aria-expanded="false"]:before {
    background: no-repeat center center url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='%23ffffff' d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z'%3E%3C/path%3E%3C/svg%3E"); }
  .accordion__btn[aria-expanded="true"]:before {
    background: no-repeat center center url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23ffffff' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'%3E%3C/path%3E%3C/svg%3E"); }

.accordion[data-accordion="true"] .accordion__panel[aria-hidden] {
  transform-origin: top;
  margin: 0;
  padding: 1rem 0.5rem; }
.accordion[data-accordion="true"] .accordion__panel[aria-hidden="true"] {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden; }
.accordion[data-accordion="true"] .accordion__panel[aria-hidden="false"] {
  display: block;
  height: auto;
  opacity: 1; }
.accordion[data-accordion="true"] .accordion__panel[aria-hidden="false"] :first-child {
  margin-top: 0;
  padding-top: 0; }
.accordion[data-accordion="true"] .accordion__panel[aria-hidden="false"] :last-child {
  margin-bottom: 0;
  padding-bottom: 0; }

.accordion[data-accordion="true"] .accordion__panel {
  border: 2px solid #E0E0E0;
  border-top: 0; }

.accordion__btn {
  font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  border: none;
  background: #616161;
  background: -moz-linear-gradient(left, #616161 0%, #212121 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #616161), color-stop(100%, #212121));
  background: -webkit-linear-gradient(left, #616161 0%, #212121 100%);
  background: -o-linear-gradient(left, #616161 0%, #212121 100%);
  background: -ms-linear-gradient(left, #616161 0%, #212121 100%);
  background: linear-gradient(to right, #616161 0%, #212121 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#hex-left', endColorstr='$hex-right', GradientType=1 );
  color: white; }
  .accordion__btn:hover, .accordion__btn:active, .accordion__btn:focus, .accordion__btn[aria-expanded="true"], .accordion__btn[aria-selected="true"] {
    background: #2979ff;
    background: -moz-linear-gradient(left, #2979ff 0%, #6200ea 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #2979ff), color-stop(100%, #6200ea));
    background: -webkit-linear-gradient(left, #2979ff 0%, #6200ea 100%);
    background: -o-linear-gradient(left, #2979ff 0%, #6200ea 100%);
    background: -ms-linear-gradient(left, #2979ff 0%, #6200ea 100%);
    background: linear-gradient(to right, #2979ff 0%, #6200ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#hex-left', endColorstr='$hex-right', GradientType=1 ); }

.card {
  transform-origin: top;
  display: grid;
  margin: 1.602rem 0; }
  .card * {
    transform-origin: top; }
  .card__title {
    margin: 0;
    padding: 0.4rem 0.8rem;
    font-size: 25px;
    font-size: 1.27rem; }
  .card__img {
    width: 100%;
    object-fit: cover;
    min-height: 300px; }
  .card__main {
    padding: 0.4rem 0.8rem;
    line-height: 1.424; }
  .card__foot {
    align-self: end;
    padding: 0.4rem 0.8rem 0.8rem 0.8rem;
    font-size: 0.79rem;
    line-height: 1.266; }
  .card main :not(nav) :first-child,
  .card footer :not(nav) :first-child {
    margin-top: 0;
    padding-top: 0; }
  .card main :not(nav) :last-child,
  .card footer :not(nav) :last-child {
    margin-bottom: 0;
    padding-bottom: 0; }

.card--post {
  grid-template-rows: auto auto 1fr auto; }

.card--overlay .card__head {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  justify-items: center; }
.card--overlay .card__title {
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 20;
  font-size: 60px;
  font-size: 3rem;
  background: rgba(33, 33, 33, 0.8);
  color: #fff; }
.card--overlay .card__img {
  grid-column: 1/4;
  grid-row: 1/4; }

.card--highlight .card__main {
  align-self: center;
  padding: 0.8rem;
  font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  font-size: 2.55rem;
  line-height: 1;
  text-align: center; }

.card--iframe .card__main {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  background: #212121; }
.card--iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.card--video .card__main {
  padding: 0; }

.card--advert {
  background-color: #FAFAFA; }
  .card--advert .card__title {
    font-size: 16px;
    font-size: 0.79rem;
    text-transform: uppercase;
    color: #BDBDBD; }

.card {
  box-shadow: 0px 0px 0.25rem 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px; }
  .card--black {
    background-color: #212121; }
  .card--white {
    background-color: #fff; }
  .card--pink {
    background-color: #E91E63; }
  .card--purple {
    background-color: #9c27b0; }
  .card--blue {
    background-color: #2962FF; }
  .card--green {
    background-color: #64DD17; }
  .card--yellow {
    background-color: #FFD600; }
  .card--orange {
    background-color: #FF9100; }
  .card--brown {
    background-color: #4E342E; }
  .card--black, .card--brown {
    color: #fff; }
    .card--black a, .card--brown a {
      color: #fff; }
    .card--black a:hover, .card--black a:active, .card--black a:focus, .card--brown a:hover, .card--brown a:active, .card--brown a:focus {
      color: #64DD17; }

.grid-cards {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); }

.grid-cards-tight {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(192px, 1fr)); }

.grid-cards-swatches {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(192px, 1fr)); }
  .grid-cards-swatches .card {
    min-height: 192px; }

.meta {
  display: flex;
  font-size: 16px;
  font-size: 0.79rem;
  font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400; }
  .meta:not(.meta--vertical) {
    flex-wrap: wrap; }
  .meta--vertical {
    flex-flow: column nowrap;
    justify-content: flex-start;
    line-height: 1.602rem;
    margin-bottom: 1rem; }

.meta__date-published::before,
.meta__date-updated::before,
.meta__comment-date::before {
  margin-right: 0.5em; }
.meta__date-published::before,
.meta__date-updated::before,
.meta__comment-date::before {
  content: "\f133";
  font-family: "Font Awesome 5 Free";
  font-weight: normal; }

.meta__author::before,
.meta__comment-author::before {
  margin-right: 0.5em; }
.meta__author::before,
.meta__comment-author::before {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  font-weight: normal; }

.meta__page-edit::before,
.meta__comment-edit::before {
  margin-right: 0.5em; }
.meta__page-edit::before,
.meta__comment-edit::before {
  content: "\f044";
  font-family: "Font Awesome 5 Free";
  font-weight: normal; }

.meta__page-url::before,
.meta__comment-url::before {
  margin-right: 0.5em; }
.meta__page-url::before,
.meta__comment-url::before {
  content: "\f0c1";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.meta--categories,
.meta--tags {
  line-height: 1; }
  .meta--categories a,
  .meta--tags a {
    display: inline-block;
    margin: 0.25rem;
    padding: 0.39em 0.624em;
    text-align: center;
    border-radius: 40px;
    border: 2px solid; }

nav.share {
  padding: 8px; }
  nav.share div {
    display: flex; }
  nav.share--single div a:not(.a2a_dd) {
    display: none; }
  nav.share--horizontal div {
    flex-flow: row nowrap; }
  nav.share--vertical div {
    flex-flow: column nowrap; }

.addtoany_list a {
  padding: 0.2rem; }

.addtoany_list span {
  display: block;
  overflow: hidden;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  border-radius: 100%;
  padding: 0.2rem; }

.addtoany_list svg {
  vertical-align: unset; }

.tocify {
  padding: 0 0.5rem 2rem 0.5rem; }
  .tocify__heading {
    border-top: 2px solid;
    margin-top: 0; }
  .tocify__nav {
    display: flex;
    flex-direction: column; }
  .tocify__link {
    display: block;
    font-size: 16px;
    font-size: 0.79rem;
    padding: 0.25em 0.5em;
    color: #2979FF;
    text-decoration: none; }
  .tocify__link:hover, .tocify__link:active, .tocify__link:focus {
    color: #6200EA; }

.tocify__link--h2 {
  margin-left: 0.5rem; }
.tocify__link--h3 {
  margin-left: 1rem; }
.tocify__link--h4 {
  margin-left: 1.5rem; }
.tocify__link--h5 {
  margin-left: 2rem; }
.tocify__link--h6 {
  margin-left: 2.5rem; }

h1, h2, h3, h4, h5, h6 {
  display: flex;
  align-items: flex-start; }

.linkify {
  display: block;
  margin-left: auto;
  margin-right: 4px;
  margin-top: -0.5em;
  padding: 0.5em;
  font-size: 20px;
  font-size: 1rem; }
  .linkify__icon {
    width: 1rem;
    height: 1rem; }

/**
 * Input - Wrappers - Base
 * ======================================== */
fieldset {
  margin: 1rem 0;
  padding: 0.4em;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0px rgba(33, 33, 33, 0.1); }
  fieldset:hover, fieldset:active, fieldset:focus {
    outline: 4px dashed #2979FF; }

label,
legend {
  font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  font-size: 0.79rem;
  line-height: 1; }

legend {
  background-color: #fff; }

label {
  display: block;
  padding: 0.3em 0; }
  label.label-inline {
    display: inline; }

/**
 * Input + Select + Textarea - Base
 * ======================================== */
input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="radio"]):not([type="checkbox"]),
select,
textarea {
  font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1rem;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0px rgba(33, 33, 33, 0.1); }
  input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="radio"]):not([type="checkbox"])::placeholder, input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="radio"]):not([type="checkbox"])::-webkit-input-placeholder,
  select::placeholder,
  select::-webkit-input-placeholder,
  textarea::placeholder,
  textarea::-webkit-input-placeholder {
    color: #BDBDBD; }
  input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="radio"]):not([type="checkbox"]):hover, input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="radio"]):not([type="checkbox"]):active, input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="radio"]):not([type="checkbox"]):focus,
  select:hover,
  select:active,
  select:focus,
  textarea:hover,
  textarea:active,
  textarea:focus {
    outline: 4px dashed #2979FF; }

/**
 * Input - Base
 * ======================================== */
input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="radio"]):not([type="checkbox"]),
select {
  line-height: 1.424;
  margin: 0 0 1rem 0;
  height: 2em; }

/**
 * Readonly - Base
 * ======================================== */
[type="readonly"] {
  cursor: not-allowed;
  color: #FFAB00; }

/**
 * Text Inputs - Base
 * ======================================== */
[type="email"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="url"] {
  padding: 0 0.4em;
  cursor: text;
  width: 10em; }

[type="search"] {
  -webkit-appearance: textfield; }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Input - Date + Time Base
 * ======================================== */
[type="time"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="week"] {
  padding: 0 0 0 0.4em;
  cursor: text; }

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  height: auto;
  cursor: pointer; }

/**
 * Input - Radio + Checkbox Base
 * ======================================== */
[type="radio"],
[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 20px;
  font-size: 1rem;
  line-height: 1;
  margin: 0 0.25em 0 0;
  padding: 0;
  cursor: pointer; }
  [type="radio"]::before,
  [type="checkbox"]::before {
    display: inline-block;
    line-height: 1;
    width: 1em;
    height: 1em;
    text-align: center;
    font-family: "Font Awesome 5 Free";
    font-weight: normal; }
  [type="radio"]:hover, [type="radio"]:active, [type="radio"]:focus,
  [type="checkbox"]:hover,
  [type="checkbox"]:active,
  [type="checkbox"]:focus {
    outline: 4px dashed #2979FF; }
  [type="radio"]:checked,
  [type="checkbox"]:checked {
    color: #AEEA00; }

[type="radio"] {
  border-radius: 100%; }
  [type="radio"]::before {
    content: '\f111'; }
  [type="radio"]:checked::before {
    content: '\f192'; }

[type="checkbox"]::before {
  content: '\f0c8'; }
[type="checkbox"]:checked::before {
  content: '\f14a'; }

/**
 * Input - Color Base
 * ======================================== */
[type="color"] {
  cursor: pointer;
  padding: 0;
  background-color: transparent; }

/**
 * Input - Range Base
 * ======================================== */
[type="range"] {
  cursor: pointer; }

/**
 * Input - File Base
 * ======================================== */
[type="file"] {
  cursor: pointer; }
  [type="file"]::-webkit-file-upload-button {
    -webkit-appearance: button;
    height: 100%;
    cursor: pointer;
    font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 700;
    color: #fff;
    border: 0;
    border-radius: 4px, 0px, 0px, 4px;
    transition: background-color, 250ms; }
  [type="file"]:hover::-webkit-file-upload-button {
    background-color: #212121; }

/**
 * Textarea - Base
 * ======================================== */
textarea {
  width: 100%;
  overflow: auto;
  resize: vertical;
  cursor: text;
  line-height: 1.266;
  margin: 0 0 1rem 0;
  padding: 0.4em; }

/**
 * Input - Icons in Placeholder 
 * ======================================== */
textarea::placeholder, textarea::-webkit-input-placeholder,
.contact-name::placeholder,
.contact-name::-webkit-input-placeholder {
  font-family: "Font Awesome 5 Free";
  font-weight: 400; }

[type="email"]::placeholder, [type="email"]::-webkit-input-placeholder,
[type="password"]::placeholder,
[type="password"]::-webkit-input-placeholder,
[type="search"]::placeholder,
[type="search"]::-webkit-input-placeholder,
[type="tel"]::placeholder,
[type="tel"]::-webkit-input-placeholder,
[type="url"]::placeholder,
[type="url"]::-webkit-input-placeholder,
.contact-phone::placeholder,
.contact-phone::-webkit-input-placeholder {
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

iframe {
  vertical-align: middle; }

img {
  border-style: none;
  vertical-align: middle; }

video {
  object-fit: cover;
  width: 100%; }

.site__main {
  max-width: 810px;
  margin: 0 auto;
  min-height: 100vh; }
.site__main--full {
  max-width: 100%;
  width: 100%; }

.site {
  background: white;
  background: -moz-linear-gradient(top, white 0%, whitesmoke 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(100%, whitesmoke));
  background: -webkit-linear-gradient(top, white 0%, whitesmoke 100%);
  background: -o-linear-gradient(top, white 0%, whitesmoke 100%);
  background: -ms-linear-gradient(top, white 0%, whitesmoke 100%);
  background: linear-gradient(to bottom, white 0%, whitesmoke 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$hex-top', endColorstr='$hex-bottom', GradientType=0 ); }
  .site__main {
    background: #fff; }
  .site__footer {
    min-height: 2rem;
    background: #616161;
    background: -moz-linear-gradient(top, #616161 0%, #212121 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #616161), color-stop(100%, #212121));
    background: -webkit-linear-gradient(top, #616161 0%, #212121 100%);
    background: -o-linear-gradient(top, #616161 0%, #212121 100%);
    background: -ms-linear-gradient(top, #616161 0%, #212121 100%);
    background: linear-gradient(to bottom, #616161 0%, #212121 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$hex-top', endColorstr='$hex-bottom', GradientType=0 ); }
  .site__bottom {
    min-height: 2rem;
    background: #aeea00;
    background: -webkit-linear-gradient(332deg, #aeea00 0%, #aeea00 45%, #00c853 45%, #00c853 100%);
    background: -o-linear-gradient(332deg, #aeea00 0%, #aeea00 45%, #00c853 45%, #00c853 100%);
    background: linear-gradient(118deg, #aeea00 0%, #aeea00 45%, #00c853 45%, #00c853 100%); }

@media screen and (max-width: 809px) {
  .post__grid-right {
    display: none; } }
@media screen and (min-width: 810px) {
  .post {
    display: grid;
    grid-template-columns: 1fr minmax(560px, 810px) 240px 1fr;
    grid-template-areas: '. post-left post-right .' '. post-bottom post-bottom .'; }
    .post__grid-left {
      grid-area: post-left; }
    .post__grid-right {
      grid-area: post-right; }
    .post__grid-bottom {
      grid-area: post-bottom; } }
.post-header {
  display: grid;
  grid-template-columns: 64px 1fr 40px;
  grid-template-rows: auto auto 1fr;
  align-items: start;
  padding: 0.5rem; }
  .post-header__title {
    grid-row: 1/2;
    grid-column: 1/4;
    margin: 1rem 0 0.5rem 0;
    padding: 0; }
  .post-header__sub-title {
    grid-row: 2/3;
    grid-column: 1/3;
    z-index: 1;
    margin: 1rem 0 0.5rem 0;
    padding: 0.5rem; }
  .post-header__categories {
    grid-row: 3/4;
    grid-column: 2/4;
    z-index: 1;
    display: inline-block;
    justify-self: end;
    align-self: end;
    margin: 0.5rem;
    padding: 0.5rem; }
  .post-header__image {
    grid-row: 2/4;
    grid-column: 2/4;
    min-height: 340px; }
  .post-header__share {
    grid-row: 3/4;
    grid-column: 1/2; }
  .post-header__image img {
    width: 100%;
    min-height: 400px;
    object-fit: cover; }

.post-header__title {
  font-size: 36px;
  font-size: 1.8rem; }
.post-header__sub-title {
  font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  font-size: 1.13rem;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.7); }
.post-header__image {
  background: radial-gradient(circle at right bottom, rgba(0, 0, 0, 0) 80%, #AEEA00 80%), radial-gradient(farthest-corner at 0% -20%, #dcff75 68%, #577500 68%); }
.post-header__categories {
  background: rgba(0, 0, 0, 0.7); }
.post-header__categories a {
  color: #ffffff; }
  .post-header__categories a:hover, .post-header__categories a:active, .post-header__categories a:focus {
    color: #6200EA; }
.post-header__share a:hover, .post-header__share a:active, .post-header__share a:focus {
  color: #6200EA; }

.post__summary {
  padding: 0.5rem; }
  .post__summary .post__byline {
    justify-content: space-between;
    margin-bottom: 1rem; }
  .post__summary .post__excerpt {
    padding: 1rem 0;
    font-size: 25px;
    font-size: 1.27rem;
    font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    border-top: 2px solid; }
  .post__summary .post__excerpt :first-child {
    margin-top: 0;
    padding-top: 0; }
  .post__summary .post__excerpt :last-child {
    margin-bottom: 0;
    padding-bottom: 0; }

.card .post__byline {
  display: flex;
  flex-flow: column wrap; }
  .card .post__byline .meta__author-name {
    order: 1; }
  .card .post__byline .meta__date-updated {
    order: 2; }
  .card .post__byline .meta__page-url {
    order: 3; }
  .card .post__byline .meta__page-edit {
    order: 4; }

.post__main {
  padding: 0 0.5rem; }

.post__main h1 {
  border-top: 2px solid; }
  .post__main h1:first-child {
    margin-top: 0; }

@media screen and (max-width: 809px) {
  .post__grid-right {
    display: none; } }
@media screen and (min-width: 810px) {
  .post {
    display: grid;
    grid-template-columns: 1fr minmax(560px, 810px) 240px 1fr;
    grid-template-areas: '. post-left post-right .' '. post-bottom post-bottom .'; }
    .post__grid-left {
      grid-area: post-left; }
    .post__grid-right {
      grid-area: post-right; }
    .post__grid-bottom {
      grid-area: post-bottom; } }
.post-header {
  display: grid;
  grid-template-columns: 64px 1fr 40px;
  grid-template-rows: auto auto 1fr;
  align-items: start;
  padding: 0.5rem; }
  .post-header__title {
    grid-row: 1/2;
    grid-column: 1/4;
    margin: 1rem 0 0.5rem 0;
    padding: 0; }
  .post-header__sub-title {
    grid-row: 2/3;
    grid-column: 1/3;
    z-index: 1;
    margin: 1rem 0 0.5rem 0;
    padding: 0.5rem; }
  .post-header__categories {
    grid-row: 3/4;
    grid-column: 2/4;
    z-index: 1;
    display: inline-block;
    justify-self: end;
    align-self: end;
    margin: 0.5rem;
    padding: 0.5rem; }
  .post-header__image {
    grid-row: 2/4;
    grid-column: 2/4;
    min-height: 340px; }
  .post-header__share {
    grid-row: 3/4;
    grid-column: 1/2; }
  .post-header__image img {
    width: 100%;
    min-height: 400px;
    object-fit: cover; }

.post-header__title {
  font-size: 36px;
  font-size: 1.8rem; }
.post-header__sub-title {
  font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  font-size: 1.13rem;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.7); }
.post-header__image {
  background: radial-gradient(circle at right bottom, rgba(0, 0, 0, 0) 80%, #AEEA00 80%), radial-gradient(farthest-corner at 0% -20%, #dcff75 68%, #577500 68%); }
.post-header__categories {
  background: rgba(0, 0, 0, 0.7); }
.post-header__categories a {
  color: #ffffff; }
  .post-header__categories a:hover, .post-header__categories a:active, .post-header__categories a:focus {
    color: #6200EA; }
.post-header__share a:hover, .post-header__share a:active, .post-header__share a:focus {
  color: #6200EA; }

.post__summary {
  padding: 0.5rem; }
  .post__summary .post__byline {
    justify-content: space-between;
    margin-bottom: 1rem; }
  .post__summary .post__excerpt {
    padding: 1rem 0;
    font-size: 25px;
    font-size: 1.27rem;
    font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Helvetica Neue", "Segoe UI", "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    border-top: 2px solid; }
  .post__summary .post__excerpt :first-child {
    margin-top: 0;
    padding-top: 0; }
  .post__summary .post__excerpt :last-child {
    margin-bottom: 0;
    padding-bottom: 0; }

.card .post__byline {
  display: flex;
  flex-flow: column wrap; }
  .card .post__byline .meta__author-name {
    order: 1; }
  .card .post__byline .meta__date-updated {
    order: 2; }
  .card .post__byline .meta__page-url {
    order: 3; }
  .card .post__byline .meta__page-edit {
    order: 4; }

.post__main {
  padding: 0 0.5rem; }

.post__main h1 {
  border-top: 2px solid; }
  .post__main h1:first-child {
    margin-top: 0; }

/*# sourceMappingURL=style.css.map */
