//
// @file /sass/fonts/_mix-serif.scss
//

//
// If you don't declare serif fonts, you'll get 
// Times and Times New Roman on macOS, iOS, and Windows.
//
// I like Georgia - some other useful ones are: 
// macOS, iOS can also use Baskerville, Hoefler Text, Palatino
// Windows can also use Cambria, Constantia 
//
// In theory, 'serif' should render  
// the Android, Chrome OS, and Linux fonts without `local`s. 
//
// This is because of how common families like 'Times' and 'serif'
// are mapped back to the system fonts. 
//


@mixin serif-400($size) {
	font-family: $font-family__serif;
	font-style: normal;
	font-weight: 400;
	font-size: $size;
}

@mixin serif-400i($size) {
	font-family: $font-family__serif;
	font-style: italic;
	font-weight: 400;
	font-size: $size;
}

@mixin serif-700($size) {
	font-family: $font-family__serif;
	font-style: normal;
	font-weight: 700;
	font-size: $size;
}

@mixin serif-700i($size) {
	font-family: $font-family__serif;
	font-style: italic;
	font-weight: 700;
	font-size: $size;
}


//
// Usage
//

strong {
	@include serif-700(1.1em);
	// font-style: ;
	// font-weight: ;
	// font-stretch: ;
}