//
// @file /sass/fonts/_mix-sans.scss
// 

//
// `-apple-system` and `BlinkMacSystemFont` 
// invoke the SF, Helvetica Neue, Lucida Grande stack
// on macOS + iOS in Safari + Chrome. (Opera?)
//
// If you want to target Firefox for macOS and iOS, 
// you'll need `local`s for either SF Text or SF Display,
// plus Helvetica Neue.
//
// Normally, SF Text is for 19px and under. SF Display is 20px and up.
// There's no sane way to use both - and this is just for FF on Apple. 
// So I suggest sticking with SF Text since it has italics. 
//
// I specifically call either Verdana or Trebuchet MS.
// These cover older macOS and Widnows. 
// This prevents Helvetica and Arial (less legible).
//
//
// In theory, 'sans-serif' should render  
// the Android, Chrome OS, and Linux fonts without `local`s. 
//
// This is because of how common families like 'Arial', 'Helvetica' 
// and 'serif' are mapped back to the system fonts. 
//
// Even so, it's common to see Roboto, so I use it here and 
// remind Roboto Condensed can be used as an alternative 
// (though it has less varients). 
// 


@mixin sans-300($size) {
	font-family: $font-family__sans;
	font-style: normal;
	font-weight: 300;
	font-size: $size;
}

@mixin sans-300i($size) {
	font-family: $font-family__sans;
	font-style: italic;
	font-weight: 300;
	font-size: $size;
}


@mixin sans-400($size) {
	font-family: $font-family__sans;
	font-style: normal;
	font-weight: 400;
	font-size: $size;
}

@mixin sans-400i($size) {
	font-family: $font-family__sans;
	font-style: italic;
	font-weight: 400;
	font-size: $size;
}


@mixin sans-600($size) {
	font-family: $font-family__sans;
	font-style: normal;
	font-weight: 600;
	font-size: $size;
}

@mixin sans-600i($size) {
	font-family: $font-family__sans;
	font-style: italic;
	font-weight: 600;
	font-size: $size;
}


@mixin sans-700($size) {
	font-family: $font-family__sans;
	font-style: normal;
	font-weight: 700;
	font-size: $size;
}

@mixin sans-700i($size) {
	font-family: $font-family__sans;
	font-style: italic;
	font-weight: 700;
	font-size: $size;
}


@mixin sans-900($size) {
	font-family: $font-family__sans;
	font-style: normal;
	font-weight: 900;
	font-size: $size;
}

@mixin sans-900i($size) {
	font-family: $font-family__sans;
	font-style: italic;
	font-weight: 900;
	font-size: $size;
}

//
// Usage
//

h1 {
	@include sans-700(1.6rem);
}

