// 
// @file /sass/typography/_headings.scss
//  


h1,h2,h3,h4 {
	@include serif-700;
	line-height: 1.226;
	margin: 0 0 1em 0;	

}

h1 { 
	@include font-size(1.424); 
	color: $color__black;
}

h2 { 
	@include font-size(1.266); 
	color: $color__primary;
}

h3 {
	@include font-size(1); 
}

h4 { 
	@include font-size(0.889); 
}

