//
// @file /sass/color/_gloable-theme.scss
//


// Base Colors "Bright Sky, Grass, Sun"

$color__black: $mc__gray-900;
$color__black-a: $mc__gray-700;

$color__white: #fff;
$color__white-a: $mc__gray-100;

$color__primary: $mc__lime-a700;
$color__primary-a: $mc__green-a700;

$color__secondary: $mc__blue-a400;
$color__secondary-a: $mc__dp-purple-a700;

$color__alt: $mc__amber-a700;
$color__alt-a: $mc__dp-orange-a200;


// <body> tag

$color__body-font: $mc__gray-600;
$color__body-bg: #fff;


// Messages + States

$color__msg-info: $mc__blue-a700;
$color__msg-warning: $mc__amber-a700;
$color__msg-success: $mc__lime-a700;
$color__msg-error: $mc__red-a700;

