//
// @file /sass/color/_mix-bg-linear-v.scss
//

@mixin bg-linear-v($hex-top, $alpha-top, $hex-bottom, $alpha-bottom) {

	background: rgba($hex-top,$alpha-top);

	background: -moz-linear-gradient(
		top, 
		rgba($hex-top,$alpha-top) 0%, 
		rgba($hex-bottom,$alpha-bottom) 100%);

	background: -webkit-gradient(
		left top, 
		left bottom, 
		color-stop(0%, rgba($hex-top,$alpha-top)), 
		color-stop(100%, rgba($hex-bottom,$alpha-bottom)));

	background: -webkit-linear-gradient(
		top, 
		rgba($hex-top,$alpha-top) 0%, 
		rgba($hex-bottom,$alpha-bottom) 100%);

	background: -o-linear-gradient(
		top, 
		rgba($hex-top,$alpha-top) 0%, 
		rgba($hex-bottom,$alpha-bottom) 100%);

	background: -ms-linear-gradient(
		top, 
		rgba($hex-top,$alpha-top) 0%, 
		rgba($hex-bottom,$alpha-bottom) 100%);

	background: linear-gradient(
		to bottom, 
		rgba($hex-top,$alpha-top) 0%, 
		rgba($hex-bottom,$alpha-bottom) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$hex-top', endColorstr='$hex-bottom', GradientType=0 );

}