// 
// @this /sass/components/_advert.scss
// 

.aside--advert {
    margin: 1rem 0.5rem;
    background-color: $mc__gray-50;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
    min-height: 96px;
    p {
        @include font-size(0.79);
        text-transform: uppercase;
        color: $mc__gray-400;
    }
}