// 
// Vanilla Velocity Banners
//
// @this /sass/components/_banner.scss
// @requires /js/banner.js
// @requires /vendors/velocity.js
// 
 

// The outter block element
[data-banner] {

    width: 100%;
    min-height: 100vh;    

    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-color: $color__black;

    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
        '. . .'
        '. banner-content .'
        '. . .';
} // 


[data-banner-content] {
    grid-area: banner-content;
    max-width: 810px;
    padding: 1rem;
    background: rgba($color__black, 0.9);
    color: $color__white;
}


// An h1, h2, h3 ...
[data-banner-title] {
    color: $color__white;
    margin-top: 0;
    padding-top: 0;
}

// A block with text in it
[data-banner-text] {

}

// An  <a> 
[data-banner-action] {
    display: inline-flex;
    align-items: center;
    color: $color__white;
    border-bottom: 4px solid;
    border-color: transparent;
    &::after {
        content: '';
        width: 2em;
        height: 1em;    
        background: no-repeat center center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23ffffff' d='M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z'%3E%3C/path%3E%3C/svg%3E");          

    } //

} //

[data-banner-action]:hover,
[data-banner-action]:active,
[data-banner-action]:focus {
    color: $color__white;
    border-color: $color__white;
} //


// 
// Styles
//

// The outter block element
[data-banner] {
    
}

// An h1, h2, h3 ...
[data-banner-title] {}

// A <div> with text in it
[data-banner-text] {}

// A <button> or <a> 
[data-banner-action] {}




@include test-mode {


    #banner-01 {
        background-image: url(./images/FernSorus.jpg);
        [data-banner-content] {}
    }

    #banner-02 {
        background-image: url(./images/MJBoyle_polytrochus_larva.jpg);
        [data-banner-content] {
            background: rgba(#D50000, 0.9);
        }        
    }

    #banner-03 {
        background-image: url(./images/Metapocyrtus-subquadrulfier.jpg);
         [data-banner-content] {
            background: rgba(#00695C, 0.9);
        }       
    }

    #banner-04 {
        background-image: url(./images/Taraxacum-officinale-22-mm-3x.jpg);
        [data-banner-content] {
            background: rgba(#E65100, 0.9);
        }
    }

}
