//
// @file /sass/components/_c-accordion.scss
//
// @file /js/c-accordion.js
// @link https://www.cssscript.com/accessible-accordion-ariaaccordion/
// 


/**
 * c-accordion - Base
 * ======================================== */

.c-accordion {
	&__panel {}	
	&__header {}
	&__btn {}
} //


.c-accordion__btn {
	@include display-flex;
	@include align-items(baseline);
	width: 100%;
	text-align: left;

	&[aria-expanded="true"] {
		@include icon-fas(f107);
	}
	&[aria-expanded="false"] {
		@include icon-fas(f105);
	}

	&[aria-selected="true"] {}
	&[aria-selected="false"] {}

	&[aria-expanded="true"]:before {margin: 0 0.25rem;}
	&[aria-expanded="false"]:before {margin: 0 0.25rem;}	

} //


.c-accordion__panel {

	-webkit-transform-origin: top;
	    -ms-transform-origin: top;
	        transform-origin: top;

	&[aria-hidden="true"] { 
		overflow: hidden;
		height: 0px;
		transform: scale(0);
		opacity: 0;
		padding: 0;
		margin: 0;
	}

	&[aria-hidden="false"] {
		// handled in JS
		// height: auto;
		// transform: scale(1);
		// opacity: 1;
		padding: 1rem 0.5rem 0 0.5rem;
	}

} //


/**
 * c-accordion - Styles
 * ======================================== */

.c-accordion {
	max-width: 810px;
	margin: 1rem auto;

	&__header {
		margin: 2px 0;	
	}
	&__panel {
		border: 1px solid $mc__gray-300;
	}
	&__panel :first-child {
		margin-top: 1rem;
	}

} //


button.c-accordion__btn {

	@include sans-400;
	@include font-size(1.424);
	padding: 0.25rem 0.4rem;
	border: none;

	@include bg-linear-h($color__black-a, 1, $color__black, 1);
	color: white;

	&:hover, &:active, &:focus,
	&[aria-expanded="true"],
	&[aria-selected="true"] {
		@include bg-linear-h($color__secondary, 1, $color__secondary-a, 1);
	}	
	
	// &[aria-expanded="true"] {}
	// &[aria-expanded="false"] {}
	// &[aria-selected="true"] {}
	// &[aria-selected="false"] {}

} //

.c-accordion__panel {
	&[aria-hidden="true"] {}
	&[aria-hidden="false"] {}
} //