//
// @file /sass/components/_c-branding.scss
//


/**
 * c-branding - Base
 * ======================================== */

.c-branding {

	line-height: 1.266;
	a {text-decoration: none;}
	&__icon {@include icon-fas(f520);}	// Temporary fa icon
	
} // .c-branding


/**
 * c-branding--full - Base
 * ======================================== */

.c-branding--full {

	@include display-grid;
	@include justify-content(start);

	grid-template-areas:
	"logo name"
	"logo slogan";	

	.c-branding__name {
		grid-area: name;
		@include align-self(end);
	}

	.c-branding__slogan {
		grid-area: slogan;
		@include align-self(start);	
	}	

	.c-branding__logo {
		grid-area: logo;
		@include align-self(center);
		@include font-size(2.565); // when fa icon
		// max-height: 2.565rem; // when img
		// margin-right: 0.25rem;
	}

} // --full


/**
 * c-branding--compact - Base
 * ======================================== */
.c-branding--compact {

	@include display-flex;
	@include align-items(center);

	.c-branding__logo {
		@include flex-order(1);
		@include font-size(1.424); // when fa icon
		// max-height: 1.242rem; // when img
		// margin-right: 0.25rem;
	}

	.c-branding__name {
		@include flex-order(2);
	}

} // --compact


/**
 * c-branding--mobile - Base
 * ======================================== */
.c-branding--mobile {

	.c-branding__name,
	.c-branding__slogan {display: none;}

	.c-branding__logo {
		@include font-size(1.602); // when fa icon
		// max-height: 4rem; // when img
	}

} // --mobile


 /**
 * c-branding - Styles
 * ======================================== */

.c-branding {	

	color: $color__white;

	&__name {
		@include serif-700;
		@include font-size(1.125);		
	}

	&__slogan {
		@include sans-400i;
		@include font-size(0.79);
	}

	&__logo {}
	&__icon {}

} // .c-branding

