//
// @file /sass/components/_c-follow.scss
//


/**
 * c-follow - Base
 * ======================================== */

.c-follow {
	margin: 0;
	padding: 0;
	list-style: none;
	@include font-size(1);
	text-align: center;
	// background-color: $mc__red-200;

	&__item { 
		margin: 0;
		// background-color: $mc__blue-200; 
	}

	&__link { 
		text-decoration: none; 
	}

	&__icon {}

	&--horizontal {
		@include display-flex;
		@include flex-flow(row, nowrap);
		@include align-items(center);
		@include justify-content(center);
	}

	&--horizontal &__item {padding: 0 0.35rem;}

	&--vertical {}

	&--vertical &__item {padding: 0.35rem;}

} // .c-follow


/**
 * c-follow - Styles
 * ======================================== */



 .c-follow {
	&__item {}
	&__link {}
	&__icon {}
	&__text {}
}

