//
// @file /sass/components/_c-site-head.scss
//

.c-site-head {}
.c-site-head--full {}
.c-site-head--compact {}
.c-site-head--mobile {}


/**
 * .c-site-head - Base
 * ======================================== */

.c-site-head {
	// position
	z-index: 1;	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	// layout
	@include display-grid;
	grid-template-areas: 'head-brand head-foll head-nav';
	padding: 0 0.5rem;
	
	// JS support
	will-change: transform;
	transition: transform 600ms ease;
	&.is-unpin {transform: translateY(-100%);}
	&.is-pin {transform: translateY(0);}

} //

.c-site-head .c-branding {grid-area: head-brand; justify-self: start; }
.c-site-head .c-follow   {grid-area: head-foll; justify-self: center; }
.c-site-head .c-nav-head {grid-area: head-nav; justify-self: end; }


/**
 * .c-site-head - Styles
 * ======================================== */

 .c-site-head,
 .c-nav-head__nav {
 	@include bg-linear-h($color__alt, 1, $color__alt-a, 1);
 }

 .c-site-head a {
 	text-decoration: none;
	color: $color__white;
	&:hover,
	&:active,
	&:focus {
		color: $color__black;
	} 
}

