//
// @file /sass/components/_c-totop.scss
//
// @file /js/smooth-scroll.js - smooth scrolling for all `href=#`
// @file /js/c-totop.js - switch visibility classes on scroll
//


/**
 * .c-totop - Base
 * ======================================== */

#c-totop {

	// position
	z-index: 2;
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;	
	// make square
	width: 2rem;
	height: 2rem;
	// center
	line-height: 2;
	text-align: center;
	// style
	text-decoration: none;	

} //


/**
 * .c-totop - JS Support
 * ======================================== */

#c-totop {

	// will-change: transform;

	-webkit-transform-origin: center;
	    -ms-transform-origin: center;
	        transform-origin: center;

	-webkit-transition: transform 1000ms linear, opacity 1000ms linear, background 400ms linear;
	     -o-transition: transform 1000ms linear, opacity 1000ms linear, background 400ms linear;
	        transition: transform 1000ms linear, opacity 1000ms linear, background 400ms linear;

	&.is-unpin {
		opacity: 0;	
		-webkit-transform: scale(0);	
		    -ms-transform: scale(0);	
		        transform: scale(0);
	}

	&.is-pin,
	&.is-unpin:focus { // accessibility
		opacity: 1;			
		-webkit-transform: scale(1);
		    -ms-transform: scale(1);
		        transform: scale(1);
	}

}  //


/**
 * .c-totop - Style
 * ======================================== */

 #c-totop {

 	color: $color__white-a;
 	background: rgba($color__black, 0.4);
	@include border-radius($border-radius__icon);

	&:hover,
	&:active,
	&:focus {
		color: $color__white;
		background: rgba($color__black, 0.8);
	}

 } //


 .c-totop__icon {

	@include icon-fas(f106);

} //

