// 
// Van11y Velocity Mobile Navigation
// 
// @file /sass/componenets/_nav-mobile.scss
// @file /sass/components/_site-header.scss
// @file /js/nav-mobile.js
// @file /vendors/velocity.2.0.5.min.js
//
// IMPORTANT: Supports single-level navigation only
// 


//
// Mobile nav - button
// 

// if nav-mobile.js is NOT loaded
button[data-nav-mobile='false'] {
    display: none;
}

// if nav-mobile.js IS loaded
button[data-nav-mobile='true'] {
    display: block;
    width: 1.602rem;
    height: 1.602rem;
    padding: 0.25rem;
    border: none;

    background: no-repeat center center
        url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23FFFFFF' d='M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z'%3E%3C/path%3E%3C/svg%3E");

   &:hover, &:active, &:focus {
     background: no-repeat center center
        url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23000000' d='M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z'%3E%3C/path%3E%3C/svg%3E");   
   }

   background-color: transparent; 

} // 


// 
// Mobile nav menu
// 

ul[data-nav-mobile] {
    margin: 0;
    list-style: none; 
    li {
        margin: 0;
        padding: 0;
    } 
    a {
        text-decoration: none;
    }
} //


// if nav-mobile.js is NOT loaded
ul[data-nav-mobile='false'] {
    display: flex;
    flex-flow: row wrap;
    padding: 0.215rem 0; 
    font-size: 0.79rem;   

    a {
        display: inline-block;
        padding: 0.346em 1em;
    }

} //

// if nav-mobile.js IS loaded
ul[data-nav-mobile="true"] {
    position: absolute; 
    top: 100%; // start at bottom edge of header		
    right: 0;	
    left: 0;
    height: auto;
    display: flex;
    flex-direction: column; 
    transform-origin: top;
    padding: 0 0 1rem 0;
    font-size: 1rem;    

    a {
        display: block;
        max-width: 300px;
        margin-left: auto;
        padding: 0.35em;
    }   

} //


ul[data-nav-mobile][aria-hidden="false"]  {
    height: auto;
    visibility: visible;
}

ul[data-nav-mobile][aria-hidden="true"]  {
    height: 0px;
    visibility: hidden;
}

// 
// Styles
// 

ul[data-nav-mobile] {
    a,
    a:visited {
        color: #ffffff;
    }

    a:focus,
    a:hover {
        color: #000000;
    }  

} // 

ul[data-nav-mobile] {
    @include bg-linear-h($color__alt-a, 1, $color__alt, 1);
}

ul[data-nav-mobile='true'] {
    @include bg-linear-h($color__alt, 1, $color__alt-a, 1);
}

