// 
// @this /sass/componenets/_share.scss
// 


// Wraps the Share plugin we'll be using
nav.share {
    // the container added by the plugin
    // Keep focus outline visible
    padding: 8px;

    div {
        display: flex;
    }

    &--single div a:not(.a2a_dd) {
        display: none;
    }

    &--horizontal div {
        flex-flow: row nowrap;
    }
    &--vertical div {
        flex-flow: column nowrap;
    }

    a:not(:hover):not(:focus):not(:active) {
        color: $color__black;
    }

}

