// 
// Site Layout - Functional

.site {
	&__header {}
	&__main {
		max-width: 810px; 
		margin: 0 auto;
		min-height: 100vh;
	}
	&__footer {}
	&__bottom {}
	&__cookies {}

} // .site

// 
// Site Layout - Styles
// 



.site {
	@include bg-linear-v($color__white, 1, $color__white-a, 1);	
	&__header {}
	&__main {background: $color__white; padding-bottom: 1.602rem;}
	&__footer {
		min-height: 2rem; 
		@include bg-linear-v($color__black-a, 1, $color__black, 1);}
	&__bottom {
		min-height: 2rem; 
		@include bg-slash-v($color__primary, 1, $color__primary-a, 1);}

} // .site

