//
// Vanilla Velocity Sticky-Scolly Header
//
// @file /js/site-header.js
// @file /sass/components/_site-header.scss
// @file /vendors/velocity.2.0.5.min.js
//


//
// Site Header - Base + Mobile Nav
//

.site__header {
	display: grid;
	grid-column-gap: 0.5rem;
	align-items: center;	

	.branding   {grid-area: head-branding;}
	.nav-follow {grid-area: head-follow;}
	.nav-mobile {grid-area: head-mobile;}

}

// If nav-mobile.js is NOT loaded,
// then adjust grid to show horizontal menu bar
body[data-nav-mobile="false"] .site__header {
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'head-branding head-follow'
		'head-mobile head-mobile';

	.branding {justify-self: start; padding-left: 0.5rem;}
	.nav-follow {justify-self: end; padding-right: 0.5rem;}
	.nav-mobile {justify-self: center;}

}

// If nav-mobile.js IS loaded,
// then adjsut grid for the menu button
body[data-nav-mobile="true"] .site__header {

	grid-template-columns: max-content 1fr max-content;
	align-items: center;
	grid-template-areas: 
		'head-branding head-follow head-mobile';

	.branding {justify-self: start; padding-left: 0.5rem; }
	.nav-follow {justify-self: center;}
	.nav-mobile {justify-self: end; padding-right: 0.5rem;}

}


//
// Site Header - Sticky
//

.site__header {

	&[data-header-sticky] {}
	&[data-header-sticky='false'] {}

	&[data-header-sticky='true'] {
		z-index: 1;	
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transform-origin: top;	
	}

} //


//
// Site Header - pin
//

.site__header {
	&[data-header-pin] {}
	&[data-header-pin='false'] {}
	&[data-header-pin='true'] {}

} //



//
// Styles
//

 .site__header {
 	@include bg-linear-h($color__alt, 1, $color__alt-a, 1);
 }

 .site__header a {
 	text-decoration: none;
	color: $color__white;
	&:hover,
	&:active,
	&:focus {
		color: $color__black;
	} 
}

