//
// @file /sass/components/_site__to-top.scss
//
// @file /js/smooth-scroll.js - smooth scrolling for all `href=#`
// @file /js/site__to-top.js - switch visibility classes on scroll
//


/**
 * .site__to-top - Base
 * ======================================== */

.site__to-top {

	// position
	z-index: 2;
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;	
	// make square
	width: 2rem;
	height: 2rem;
	// center
	line-height: 2;
	text-align: center;
	// style
	text-decoration: none;	


} //

/**
 * .site__to-top - No JS
 * ======================================== */

.site__to-top {

	// will-change: transform;
	transform-origin: center;


	&.is-unpin {
		opacity: 0;	
		transform: scale(0);
	}

	&.is-pin,
	&.is-unpin:focus { // accessibility
		opacity: 1;
		transform: scale(1);
	}	

} // 


/**
 * .site__to-top - Style
 * ======================================== */

 .site__to-top {

 	color: $color__white-a;
	 background: rgba($color__black, 0.4);
	 border-radius: $border-radius__icon;

	&:hover,
	&:active,
	&:focus {
		color: $color__white;
		background: rgba($color__black, 0.8);
	}

 } //


 .site__to-top-icon {

	@include icon-fas(f106);

} //

