//
// @file /sass/components/_c-site-header.scss
//
// @file /js/c-accordion.js
// @file /html/quick-grab_c-accordion.html
//


/**
 * c-accordion - Base
 * =============================================== */

// the outter <div>
.c-accordion {
	max-width: 720px;
	margin: auto;
	// the <hx> 
	&__title {
		margin: 0;
		padding: 0;
	}
	// the <button> added to the <hx>
	&__header {
	    display: flex;
	    width: 100%;
	    text-align: left;
	    background: none;
	    border: none;
	    outline: none;
	    margin-top: 2px;
	    margin-bottom: 2px;
	}
	// global focus on <button>
	&__header:focus { 
		@include focus; 
	}
	&__panel {}
	// the content <div>
	&__panel[aria-hidden=true] {
		display: none;
	}	
} // .c-accordion


/**
 * c-accordion - Styles
 * =============================================== */

// Fonts and colors
.c-accordion {
	&__header {
		@include font-size(1.25);
		@include sans-700;
		padding: 0.5rem;		
	}
	&__header[aria-expanded="false"],
	&__header[aria-selected="false"] {
		@include bg-slash-v($color__black-a, 1, $color__black, 1);
		color: $color__white-a;
	}
	&__header:hover,
	&__header[aria-expanded="true"],
	&__header[aria-selected="true"] {
		@include bg-slash-v($color__alt, 1, $color__alt-a, 1);
		color: $color__white;
	}
	&__panel {
		padding: 0.5rem;
		background: $color__white;
	}		
} // .c-accordion


// // icons on left
// .c-accordion {
// 	&__header:before {
// 		font-family: "Font Awesome 5 Free";
// 		font-weight: 900;	
// 		margin-right: 0.5rem;
// 	}
// 	&__header[aria-expanded="true"]:before {
// 		content: "\f107";
// 	}
// 	&__header[aria-expanded="false"]:before {
// 		content: "\f105";
// 	}
// } // .c-accordion


// icons on right
.c-accordion {
	&__header:after {
		font-family: "Font Awesome 5 Free";
		font-weight: 900;	
		margin-left: 0.25rem;
		margin-right: 0.5rem;
	}
	&__header[aria-expanded="true"]:after {
		content: "\f107";
	}
	&__header[aria-expanded="false"]:after {
		content: "\f105";
	}
} // .c-accordion

	

// TODO: Transitions
// .c-accordion {

// 	&__header {}
// 	&__panel {
// 		opacity: 1;
// 		transition: opacity 250ms ease-in-out 250ms;
// 	}	
// 	&__panel[aria-hidden="true"]{
// 		opacity: 0;
// 		transition: opacity 150ms ease-in-out;
// 	}	

// } // .c-accordion	