//
// @file /sass/globals/_theme-globals.scss
//

// Include (true) or exclude (false) example code wrapped in:
// `@include test-mode {}`

$test-mode: true;


// This global is the size of 1rem.
// The only place this $global is used directly is on 'html' (root). 
// Everywhere else uses '@include font-size();' in place of `font-size`.
// Changing this $global cascades to all fonts defined with this @mixin.

$font-size: 20px;


// This theme uses system font stacks.
// The only place these globals are used directly are in @mixins
// @see /docs/quic-grab_fonts.scss

$font-family__sans: '-apple-system', 'BlinkMacSystemFont', 'San Francisco', 'Helvetica Neue', 'Segoe UI', 'Roboto', sans-serif,  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-family__serif: 'Georgia', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-family__mono: 'Menolo', 'Consolas', monospace, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';


//
// Colors
// These theme has access to the full Google Material Color palette
// @see /doc/quick-grab_color.scss
//

$color__black: $mc__gray-900;
$color__black-a: $mc__gray-700;

$color__white: #fff;
$color__white-a: $mc__gray-100;

$color__primary: $mc__lime-a700;
$color__primary-a: $mc__green-a700;

$color__secondary: $mc__blue-a400;
$color__secondary-a: $mc__dp-purple-a700;

$color__alt: $mc__amber-a700;
$color__alt-a: $mc__dp-orange-a200;


// <body> tag

$color__body-font: $mc__gray-600;
$color__body-bg: #fff;
$color__content-bg: #fff;


// Messages + States

$color__msg-info: $mc__blue-a700;
$color__msg-warning: $mc__amber-a700;
$color__msg-success: $mc__lime-a700;
$color__msg-error: $mc__red-a700;

// Focus Blue - For accessibility

$color__focus: $mc__blue-a400;

//
// Border Radius
// Use `@include boder-radius();`
//

$border-radius: 4px;
$border-radius__button: 0px;
$border-radius__icon: 100%;
$border-radius__input: 4px;
$border-radius__card: 0px;

