//
// @file /sass/mixins/_mix-box-shadow.scss
//


// $h = horizontal
// $v = vertical
// $b = blur
// $s = spread

@mixin box-shadow($h:0px, $v:0px, $b:0.25rem, $s:0px, $hex:#000, $opacity:0.3) {
	-webkit-box-shadow: $h $v $b $s rgba($hex, $opacity);
	   -moz-box-shadow: $h $v $b $s rgba($hex, $opacity);
	        box-shadow: $h $v $b $s rgba($hex, $opacity);
}


//
// Usage
//

// .class-a {@include ui-box-shadow;}
// .class-b {@include ui-box-shadow(10px, 6px, 0px, 0px, $color__primary, 0.7);}