//
// @file /sass/mixins/_mix-rotate.scss
//


@mixin rotate($deg: 45){
    $sDeg: #{$deg}deg;
    -webkit-transform: rotate($sDeg);
       -moz-transform: rotate($sDeg);
        -ms-transform: rotate($sDeg);
         -o-transform: rotate($sDeg);
            transform: rotate($sDeg);
}

