//
// @this /sass/components/_nav-follow.scss
//


.nav-follow {

	@include font-size(1.266);

	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	li {
		margin: 0;
		padding: 0;
	}

	a {
		padding: 0.25em;
	}

	&--horizontal ul {
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
	}

	&--vertical ul {
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;		
	}

}


