//
// @file /sass/components/_c-modal.scss
//


/** 
 * c-modal__overlay - Base Functionality
 * ========================================*/

.c-modal__overlay {
	z-index: 3;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	

	&[aria-hidden="true"] {
		display: none;
		// visibility: hidden;
		opacity: 0;
	}	

	&[aria-hidden="false"] {
		display: block;
		// visibility: visible;
		opacity: 1;
		transition: opacity 2000s;
	}
	
	&--primary {background-color: rgba($color__primary,0.85);}
	&--secondary {background-color: rgba($color__secondary,0.85);}
	&--alt {background-color: rgba($color__alt,0.85);}	
	&--black {background-color: rgba($color__black,0.85);}
	&--white {background-color: rgba($color__white,0.85);}
}


/** 
 * c-modal - Base Functionality
 * ========================================*/

.c-modal {
	z-index: 5;	
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);		
	min-width: 40%;
	max-width: 90%;
	min-height: 40%;
	max-height: 90%;
	display: block;

	&[aria-hidden="true"] {
		// display: none;
		visibility: collapse;
		// opacity: 0;
	}	

	&[aria-hidden="false"] {
		// display: block;
		visibility: visible;
		// opacity: 1;
		transition: visibility 2000s;
		// transition: opacity 2000s;
	}

	&__close {
		z-index: 7;		
		position: absolute;
		top: -0.8rem;		
		right: -0.8rem;
		cursor: pointer;
		margin: 0;
		padding: 0;		
		font-size: 0.8rem;
		width: 1.8rem; // make square
		height: 1.8rem; // make square
		line-height: 1.8; // make square
		text-align: center;
		border-radius: 100%; // make round
	}	

	&__header {}
	&__title {}

	&__description {
		@include screen-reader-text;
		margin: 0;
		padding: 0.5rem;
		font-size: 0.9rem;
		color: #000;
		background: $mc__blue-100;
	}

	&__main {
		overflow: auto;
		// overflow-x: scroll;
		// overflow-y: scroll;
	}

	&__footer {}

} // .c-modal


/**
 * c-modal - Base Styles
 * ================================ */

.c-modal {
	@include drop-shadow;
	@include border-radius(10px);

	&__close {}	
	&__header {}

	&__title {
		margin: 0;
		padding: 0.5rem;
		line-height: 1.266;
		@include font-size(1.424);
	}

	&__main {} // set padding as one-off below

	&__footer {
		padding: 0.5rem;
		@include font-size(0.79);
	}

	&__main :first-child,
	&__footer :first-child {
		margin-top: 0;
		padding-top: 0;
	}

	&__main :last-child,
	&__footer :last-child {
		margin-bottom: 0;
		padding-bottom: 0
	}

} // .c-modal


/**
 * c-modal - One-off Styles
 * ================================ */

#js-modal-01.c-modal {
	background: #fff;	
} 

#js-modal-01 .c-modal {	
	&__close {	
		background: white;
		color: rgba(0,0,0,0.85);
		border: 2px solid white;
	}
	
	&__close:hover,
	&__close:active, 
	&__close:focus {
		background: rgba(0,0,0,0.85);
		color: white;
	} 

	&__header {}
	&__title {}	
	&__main {}
	&__footer {}

} // .c-modal


/**
 * c-modal - One-off Styles
 * ================================ */

#js-modal-02.c-modal {
	background: #fff;		
} 

#js-modal-02 .c-modal {	
	&__close {	
		background: white;
		color: rgba(0,0,0,0.85);
		border: 2px solid white;
	}
	
	&__close:hover,
	&__close:active, 
	&__close:focus {
		background: rgba(0,0,0,0.85);
		color: white;
	} 

	&__header {}
	&__title {}	
	&__main {padding: 0.5rem;}
	
	&__footer {}

} // .c-modal