//
// @file /sass/layouts/_layout-site.scss
//


/**
 * .site - Layout
 * ======================================== */

#site {
	&__head {}
	// magic number to push content below sticky header
	&__main {margin-top: 5rem;}
	&__foot {}
	&__bottom {}
	&__cookies {}

} // .site



/**
 * .site - Backgrounds
 * ======================================== */

#site {
	&__head {}
	&__main {}
	&__foot {
		min-height: 6rem; 
		@include bg-linear-v($color__black-a, 1, $color__black, 1);}
	&__bottom {
		min-height: 6rem; 
		@include bg-slash-v($color__primary, 1, $color__primary-a, 1);}

} // .site

