//
// @file /sass/layouts/_layout-site.scss
//


/**
 * .site - Layout
 * ======================================== */

#site {
	&__head {}
	&__main {max-width: 810px; margin: 0 auto;}
	&__foot {}
	&__bottom {}
	&__cookies {}

	// Magic number - Prevents content from butting 
	// top edge and being hidden by sticky header. 
	// Brute force, but more viable than JS scrollTo because of
	// catch-22s related to smooth-scroll and c-site-head. 
	// &__main-target {height: 5rem;}	

} // .site

/**
 * .site - Backgrounds
 * ======================================== */

#site {
	&__head {}
	&__main {}
	&__foot {
		min-height: 6rem; 
		@include bg-linear-v($color__black-a, 1, $color__black, 1);}
	&__bottom {
		min-height: 6rem; 
		@include bg-slash-v($color__primary, 1, $color__primary-a, 1);}

} // .site

