// 
// @this /sass/layouts/_page.scss
// 



.page {

    &__header {
        max-width: 810px;
        margin: auto;
    }

    &__main {
        max-width: 810px;
        margin: auto;
    }

    &__main--full {
        max-width: 100%;
    }

    &__foooter {
        max-width: 810px;
        margin: auto;
    }


} //
