// 
// Site Layout - Functional

.site {
	
	&__header {}
	&__main {}
	&__footer {}
	&__bottom {}
	&__cookies {}

} // .site

// 
// Site Layout - Styles
// 

.demo-main {
	max-width: 810px;
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
}

.site {
	
	&__header {}
	&__main {}
	&__footer {}
	&__bottom {}
	
} // .site

