//
// @file /sass/boxes/_mix-box-sizing.scss
//


@mixin box-sizing($box-model:border-box) {

  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
          
}

//
// Useage
//

// div.a {@include box-sizing;}
// div.b {@include box-sizing(initial);}
// div.c {@include box-sizing(inherit);}
// div.d {@include box-sizing(content-box);}

